name: Deployment1
on:
  pull_request:
    types:
      - opened
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: lint
        run: npm run lint
      - name: Test code
        run: npm run test
      - name: Bulild code
        run: npm run build
      - name: Deploy Code
        run: echo "Deploying..."
